/writable/logs/
/writable/cache/
*.log
writable/logs/

# Ignore environment file
.env

# Ignore writable files
/writable/*
!/writable/index.html

# Ignore debugbar json files
writable/debugbar/*.json

/public/ci_sessions/
/public/ci_sessions/
