html, body {
    height: 100%;
    margin: 0;
    background-color: #fafafa;
    font-family: Arial, sans-serif;
}



/* Kalau sidebar lebarnya 250px */
.content {
  margin-left: 250px;   /* sesuaikan lebar sidebar */
  padding: 20px;
  min-height: 100vh;
  width: calc(100% - 250px); /* Biar sisanya penuh */
  background: #f9f9f9;
}


.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #B16B8E;           /* ungu Tailwind 800 */
  color: white;
  padding: 15px 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left .icon {
  font-size: 24px;
}

.header-left h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.header-right {
  position: relative;
}

.header-right i {
  font-size: 20px;
}

.notif-dot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
}

.card-stat {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.status-pill {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.publish {
  background: #d1f7d6;
  color: #2d7a32;
}

.draft {
  background: #ffe5b4;
  color: #7a3e2d;
}

.archived {
  background: #ddd;
  color: #555;
}
.table {
  width: 100%;
}

.card {
  width: 100%;
}

h4{
    font-weight: 700;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .header-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
