body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fc;
}

.content {
  margin-left: 250px;   /* sesuaikan lebar sidebar */
  padding: 20px;
  min-height: 100vh;
  width: calc(100% - 250px); /* Biar sisanya penuh */
  background: #f9f9f9;
}

.content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 1rem;
}
.ck-editor__editable_inline {
    min-height: 250px;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid #d1d5db;
}
.file-upload-box {
    border: 2px dashed #d1d5db;
    border-radius: 0.75rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.file-upload-box:hover {
    background-color: #f9fafb;
}
.upload-icon {
    color: #9ca3af;
}
.notif {
    font-size: 1.5rem;
    color: #4b5563;
}
