/* Warna utama */
:root {
  --primary: #b34e82;     /* Pink keunguan */
  --secondary: #f8c5d1;   /* Pastel pink */
  --gradient: linear-gradient(to right, #f8c5d1, #eec1e3);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}
.navbar-brand {
    font-weight: 600;
    color: var(--primary) !important;
    font-size: 3cap;
}

.nav-link {
    color: #333 !important;
    margin: 0 8px;
    position: relative;
    font-weight: 500;
}

.nav-item :hover{
transition: transform 0.3s ease;
}

.nav-link.active {
    color: #000 !important;
    font-weight: 600;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
}

.btn-login {
    border: 1px solid #333;
    border-radius: 50px;
    padding: 6px 40px;
    background: transparent;
    font-weight: 500;
}

.btn-login:hover {
  background-color: #ffb2d5;
  color: #fff;
  transform: scale(1.05);
}

.btn-register {
    background-color: var(--primary);
    border-radius: 50px;
    padding: 6px 40px;
    color: #fff;
    border: none;
    font-weight: 500;
    margin-left: 10px;
}

.btn-about-2{
    background-color: var(--primary);
    border-radius: 50px;
    padding: 6px 40px;
    color: #fff;
    border: none;
    font-weight: 500;
    margin-left: 10px;
}

.btn-about-2 :hover{
    background-color: #a85f80;
    transform: scale(1.08);
}

.btn-register:hover {
    background-color: #ffb2d5;
    color: #fff;
    transform: scale(1.08);
}

/* Brand text */
.brand-text {
  color: var(--primary) !important;
  font-size: 1.5rem;
}

/* Hero section */
.hero {
    background: var(--gradient);
    padding: 10 0px 20px;
    color: #333;
}

/* Hero section */
.hero-section {
    background-color: #F7D6E0;
    padding: 60px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* kecilkan jaraknya */
}


/* Batasi lebar konten teks agar tidak terlalu melebar */
.hero-content {
    flex: 2;              /* teks ambil 2 bagian */
    max-width: 700px;     /* biar bisa lebih lebar */
    text-align: left;
}

.hero-content h1 {
    /* Mengatur ukuran dan ketebalan font */
    font-size: 4rem; /* Ukuran font lebih besar */
    font-weight: 700;
    margin-bottom: 7px;
    line-height: 1.2; /* Mengurangi jarak antar baris */
    color: #B16B8E; /* Warna teks lebih gelap */
}

.hero-content h5 {
    /* Mengatur ukuran dan ketebalan font */
    font-weight: 800;
    margin-bottom: 7px;
    line-height: 1.2; /* Mengurangi jarak antar baris */
    color: #000000; /* Warna teks lebih gelap */
}

.subjudul h1 {
    font-size: 4rem;
    font-weight: 1500px;
    line-height: 1.2;
    color: #343D42;
    margin-bottom: 5px;
}

.hero .btn-primary {
  background-color: var(--primary);
  border: none;
}

/* Hero image */
.hero-image {
    flex: 1;              /* gambar ambil 1 bagian */
    max-width: 350px;     /* gambar jadi kecil */
    display: flex;
    justify-content: center;
}
.hero-image img {
    width: 150%;
    height: auto;
}


.hero-image img :hover {
    width: 150%;
    height: auto;
}


/* Section title */
.content-section{
    padding: 25px;
}

.section-header h2 {
    padding-top: 1cap;    
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
    display: flex;
    gap: 600px;
}

.subtitle h5 {
    border: #0700c6;
    border-radius: 1cap;
}

/* Cards */
.card {
  border: none;
  border-radius: 15px;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}




/* Footer */
.footer {
  background: #f6d8e5;
  padding: 20px 0;
}
.footer small {
  color: #555;
}

