:root {
  --p-1: rgba(247, 214, 224, 1);
  --p-2: rgba(212, 156, 178, 1);
  --p-3: rgba(177, 107, 142, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --succes: rgba(39, 174, 96, 1);
  --error: rgba(242, 30, 30, 1);
  --black-2: rgba(0, 0, 0, 0.7);
  --dark: rgba(52, 61, 66, 1);
  --neutral: rgba(176, 176, 176, 1);
  --darkdark-1: rgba(52, 61, 66, 1);
  --darkdark-3: rgba(141, 147, 150, 1);
  --lightlight-1: rgba(255, 255, 255, 1);
  --big-heading-x2-font-family: "Poppins", Helvetica;
  --big-heading-x2-font-weight: 700;
  --big-heading-x2-font-size: 72px;
  --big-heading-x2-letter-spacing: 0px;
  --big-heading-x2-line-height: 86px;
  --big-heading-x2-font-style: normal;
  --big-heading-x1-font-family: "Poppins", Helvetica;
  --big-heading-x1-font-weight: 700;
  --big-heading-x1-font-size: 64px;
  --big-heading-x1-letter-spacing: 0px;
  --big-heading-x1-line-height: 76px;
  --big-heading-x1-font-style: normal;
  --heading-x2-font-family: "Poppins", Helvetica;
  --heading-x2-font-weight: 500;
  --heading-x2-font-size: 28px;
  --heading-x2-letter-spacing: 0px;
  --heading-x2-line-height: 36px;
  --heading-x2-font-style: normal;
  --paragraph-x2-font-family: "Poppins", Helvetica;
  --paragraph-x2-font-weight: 400;
  --paragraph-x2-font-size: 16px;
  --paragraph-x2-letter-spacing: 0px;
  --paragraph-x2-line-height: 22px;
  --paragraph-x2-font-style: normal;
  --paragraph-x1-font-family: "Poppins", Helvetica;
  --paragraph-x1-font-weight: 400;
  --paragraph-x1-font-size: 12px;
  --paragraph-x1-letter-spacing: 0px;
  --paragraph-x1-line-height: 14px;
  --paragraph-x1-font-style: normal;
}
